html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif; /* Example font, replace with your desired font */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  color: #333;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content, .App-coming-soon {
  flex: 1;
  margin: 20px;
  padding: 20px;
}

.App-content h2, .App-coming-soon p {
  font-size: 24px; /* Larger text size */
}

.App-footer {
  background-color: #F8C6BF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.App-logo {
  max-width: 200px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  animation: flip 10s infinite;
}

@keyframes flip {
  0%, 10% {
    transform: rotateY(0deg);
  }
  5% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes dance {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

.App-coming-soon p {
  animation: dance 3s infinite;
}
